.main {
  display: flex;
  padding: 40px 0px 80px 0px;
  align-items: flex-start;
  justify-content: center;
  flex-direction: column;
  flex: 1 0;
}

.container {
  display: flex;
  align-items: center;
  padding: 0px 40px;
  flex-direction: column;
  gap: 24px;
  flex: 1 0 0;
  margin-right: auto;
  margin-left: auto;
}

.title {
  color: #fff;
  font-family: Knewave;
  font-size: 48px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
