.menuItem {
  /* margin-bottom: 16px; */
}

.menuLink {
  display: flex;
  padding: 12px 80px 12px 40px;
  color: #fff;
  font-family: 'Open Sans';
  font-size: 20px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}

.menuLink:hover {
  background-color: #ff6d00;
}
